# Streaming Data Template

### -----

In [226]:
import requests;                                 # import package used to downlaod data from a web URL
import json;
import pandas as pd;
import seaborn as sns;
import matplotlib.pyplot as plt;
import matplotlib;

from pandas.io.json import json_normalize

matplotlib.style.use('ggplot');
%matplotlib inline

In [246]:
with open('API Keys.txt', 'r') as keyfile:
    apiKeys=keyfile.read().split('\n')
   
url = 'http://backpack.tf/api/IGetPrices/v4/?key=' + apiKeys[0];        # web address of data stream

data_stream = requests.get(url,stream=True);                                    # create an iterable data stream object

In [247]:
rec = data_stream.iter_lines().next().strip() # Necessary before reading data
data = json.loads(rec)            # convert the json record to a python dictionary

items = []
i = 0
for result in data['response']['items']:
    prices = [];
    row = json_normalize(data['response']['items'][result])
    
    # prices.X.Tradable.Craftable.Y.currency
    # X = 0: Normal
    #     1: Unique
    #     2: Vintage
    # Y = priceIndex
    if('prices.0.Tradable.Craftable.0.currency' in row):
        items.append(row)
        items[i]['Name'] = result
        items[i].set_index('defindex')
        i += 1
        
len(items)

11

In [248]:
df = pd.concat(items)

for column in df.columns:
    if(column.startswith('Name')):
        continue
    if(not column.startswith('prices.0.Tradable.Craftable')):
        df = df.drop(column, 1)

df.columns = ['Name', 'Currency', 'Difference', 'Last Update', 'Value', 'Value High']
df.set_index('Name')

df

,Name,Currency,Difference,Last Update,Value,Value High
0,Minigun,keys,-279.900,1448725402,55,NaN
0,Stickybomb Launcher,keys,273.870,1446871318,17,NaN
0,Black Rose,keys,15949.035,1435861499,756,918
0,Ellis' Cap,keys,4220.250,1402021641,510,NaN
0,Sniper Rifle,keys,883.025,1442941356,50,60
0,Grenade Launcher,keys,272.000,1442346896,17,NaN
0,Batsaber,keys,1128.195,1454039210,60,62
0,Bat,keys,3040.000,1427669079,192,NaN
0,Scattergun,keys,496.000,1441403096,30,32
0,Purity Fist,keys,0.000,1377063243,239,240
0,Australium Grenade Launcher,keys,-3866.400,1446354403,200,NaN

In [239]:
df.to_csv('itemOut.csv', sep='\t', encoding='utf-8') # This is not working!

In [240]:
fileName = './itemOut.csv'
df = pd.read_csv(fileName)
df.head()

   Unnamed: 0 \tName\tCurrency\tDifference\tLast Update\tValue\tValue High
0           0         0\tMinigun\tkeys\t-279.9\t1448725402\t55\t
1           1  0\tStickybomb Launcher\tkeys\t273.87\t14468713...
2           2  0\tBlack Rose\tkeys\t15949.035\t1435861499\t75...
3           3    0\tEllis' Cap\tkeys\t4220.25\t1402021641\t510\t
4           4  0\tSniper Rifle\tkeys\t883.025\t1442941356\t50...